@import "../../shared/variables.scss";

.btn {
    color: #fff;
    &--primary {
        background-color: $primaryColor;
    }
    &--info {
        background-color: $infoColor;
        height: 100%;
    }
    &--sub-primary {
        background-color: $subPrimaryColor;
        color: black;
    }
}

.container {
    justify-content: center;
}

.requestor, .creator, .sub-info, .divider, .intro {
    display: flex;
    justify-content: center;
}

.intro {
    flex-direction: column;
    align-items: center;
    &__video {
        margin-bottom: 1.2em;
    }
}

.requestor, .divider, .creator, .intro {
    margin-bottom: 1.2em;
}
