<div class="content">
  <div class="content__header">{{ auction.requirement }}</div>
  <div class="content__main">
    <ng-template
      [ngIf]="this.auction.status === this.stateService.iconList.pending"
    >
      <div class="content__interaction">
        <div class="content__ask">
          <div class="content__title">I ask</div>
          <mat-form-field class="content__ask-input">
            <input matInput [value]="auction.ask" type="number" [(ngModel)]="auction.ask" />
          </mat-form-field>
        </div>
        <div class="content__bid">
          <div class="content__title">
            Maximum bid
          </div>
          <div class="content__bid-value">
            {{ auction.bid }}
          </div>
        </div>
      </div>

      <div class="content__actions">
        <div class="content__reject">
          <button mat-raised-button color="warn" (click)="onReject()">
            Reject
          </button>
        </div>
        <div class="content__accept">
          <button mat-raised-button color="primary" (click)="onAccept()">
            Accept
          </button>
        </div>
      </div>
    </ng-template>

    <div
      class="section--center"
      *ngIf="this.auction.status === this.stateService.iconList.ask"
    >
      <div class="section-ask">
        <div>I ask</div>
        <div>
          <span class="info">{{ auction.ask }} UAH</span>
        </div>
      </div>
    </div>

    <div
      class="section--center"
      *ngIf="this.auction.status === this.stateService.iconList.success"
    >
      <div>
        <div class="section-success">
          <div>
            {{ "The negotiations are over" | titlecase }}
          </div>
          <div>
            <span class="success"> {{ auction.bid }} UAH </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
