@import "../../../../shared/variables.scss";

mat-form-field {
  text-align: center;
}

.content {
  &__interaction,
  &__actions {
    display: flex;
    justify-content: space-around;
  }

  &__header {
    margin-bottom: 2em;
  }

  &__main,
  &__ask,
  &__bid {
    display: flex;
    flex-direction: column;
  }

  &__ask,
  &__bid {
    flex: 1;
    align-items: center;
  }

  &__bid &__title {
    margin-bottom: 0.84375em;
  }
}

.section--center {
  display: flex;
  align-items: center;
  justify-content: center;
}
