.motion {
    &__container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__icon:hover {
        cursor: pointer;
    }
}

.title {
    &__user-info {
        font-weight: 900;
    }
}

