<div class="container">
  <div class="motion__container">
    <div class="motion__common-text">motion #</div>

    <input
      class="motion__input"
      #userInput
      matInput
      [readonly]="true"
      [value]="motionInstance.key"
    />

    <div class="motion__icon-container">
      <mat-icon
        svgIcon="copy-it"
        aria-hidden="false"
        aria-label="Example thumbs up SVG icon"
        class="motion__icon"
        (click)="copyInputMessage(userInput)"
      ></mat-icon>
    </div>
  </div>

  <div class="title">
    <span class="title__user-info">
      {{ motionInstance.displayName }}
    </span>

    <span class="title__common">
      launch delivery
    </span>
  </div>

  <div class="description">
    <div class="description__text">
      {{ motionInstance.proposal }}
    </div>
    <div class="description__timer">
      {{ countDown$ | async | date: "H:mm:ss":"UTC" }}
    </div>
  </div>
</div>
