.motion {
  &__container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &__common-text {
    flex: 1;
  }

  &__icon-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  &__icon:hover {
    cursor: pointer;
  }

  &__input {
    flex: 2;
  }
}

.title {
  &__user-info {
    font-weight: 900;
  }
}

.title,
.motion__container {
  margin-bottom: 0.3em;
}

.description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1.5em;
}
