<div class="container test">
    Test Credentials
    <div class="row">
        <div><button (click)="login1Email()">Log1In </button></div>
        <div><button (click)="logup1Email()">Log1Up </button></div>
    </div>
    <div class="row">
        <div><button (click)="login2Email()">Log2In </button></div>
        <div><button (click)="logup2Email()">Log2Up </button></div>
    </div>
    <div class="row">
        <div><button (click)="login3Email()">Log3In </button></div>
        <div><button (click)="logup3Email()">Log3Up </button></div>
    </div>
    <div class="row">
        <div><button (click)="login4Email()">Log4In </button></div>
        <div><button (click)="logup4Email()">Log4Up </button></div>
    </div>
    <div class="row">
        <div><button (click)="login5Email()">Log5In </button></div>
        <div><button (click)="logup5Email()">Log5Up </button></div>
    </div>
</div>
<div class="container">
    <div id="gSignInWrapper">
        <div id="customBtn" class="customGPlusSignIn" (click)="loginGoogle()">
          <span class="icon icon--google"></span>
          <span class="buttonText">Sign in with Google</span>
        </div>
      </div>
      <!-- <div id="fSignInWrapper" disabled="true">
        <div id="customBtn" class="customGPlusSignIn" (click)="loginFacebook()">
          <span class="icon icon--facebook"></span>
          <span class="buttonText btn--facebook">Sign in with Facebook</span>
        </div>
      </div> -->
</div>





