<div class="container-super">
  <mat-card class="container">
    <app-motion-input> </app-motion-input>

    <mat-form-field class="proposal">
      <textarea
        matInput
        placeholder="What I can do for the people"
        rows="5"
        [(ngModel)]="requirement"
      ></textarea>
    </mat-form-field>
    <ng-template #phase1 [ngIf]="!this.stateService.selectedAuction">
      <p>#phase1</p>
      <div class="bid-actions">
        <div class="bid-actions__title">
          I bid #phase1
        </div>
        <mat-form-field>
          <input matInput [(ngModel)]="bid" />
        </mat-form-field>
        <div class="bid-actions__btn">
          <button mat-raised-button color="warn" (click)="createRequest()">
            My bid
          </button>
        </div>
      </div>
    </ng-template>
    <ng-template
      #phase2
      [ngIf]="this.stateService.selectedAuction && this.stateService.selectedAuction.status === 'pending'"
    >
      <div>I bid #phase2</div>
      <div>{{ this.stateService.selectedAuction.bid }}</div>
      <div>re-ask</div>
    </ng-template>
    <ng-template
      #phase3
      [ngIf]="this.stateService.selectedAuction && this.stateService.selectedAuction.status === 'success'"
    >
      <p>#phase3</p>
      <div>negotiation</div>
      <div>{{ this.stateService.selectedAuction.bid }}</div>
    </ng-template>
    <ng-template #phase4  [ngIf]="this.stateService.selectedAuction && this.stateService.selectedAuction.status === 'ask'">
      <p>#phase4</p>
      <div class="new-bid">
        <div class="new-bid__common">I bid</div>
        <div class="new-bid__value">
          <input
            type="number"
            #newBid
            value="this.stateService.selectedAuction.bid"
          />
        </div>
        <button
          class="new-bid__btn"
          mat-raised-button
          (click)="onNewBid(newBid.value)"
        >
          New bid
        </button>
      </div>
      <div class="accept">
        <div class="accept__common">Ask</div>
        <div class="accept__value">
          {{ this.stateService.selectedAuction.ask }}
        </div>
        <button
          class="accept__btn"
          mat-raised-button color="primary"
          (click)="onAccept()"
        >
          Accept
        </button>
      </div>
    </ng-template>
  </mat-card>
</div>
