<div class="container">
  <form [formGroup]="createMotionForm">
    <div class="field-container">
      <mat-form-field [formGroup]="createMotionForm">
        <input
          matInput
          placeholder="I plan to motion soon..."
          formControlName="title"
        />
      </mat-form-field>

      <div *ngIf="controls.title.touched && controls.title.errors">
        <div *ngIf="controls.title.errors.required" class="error-field">
          Title is required
        </div>
      </div>
    </div>

    <div class="field-container">
      <mat-form-field [formGroup]="createMotionForm">
        <textarea
          class="proposal"
          matInput
          placeholder="What I can do for the people"
          formControlName="proposal"
        ></textarea>
      </mat-form-field>

      <div *ngIf="controls.proposal.touched && controls.proposal.errors">
        <div *ngIf="controls.proposal.errors.required" class="error-field">
          Proposal is required
        </div>
      </div>
    </div>

    <div [formGroup]="createMotionForm">

      <dl-date-time-picker
      startView="hour"
      [selectFilter]="selectFilter"
      maxView="day"
      formControlName="dataPicker"
      minView="minute"
      minuteStep="5"
      (click)="$event.stopPropagation()"
      [(ngModel)]="selectedDate"
    >
    </dl-date-time-picker>
    </div>

    <div class="btn-container">
      <button
        mat-raised-button
        color="primary"
        (click)="firestoreCreateMotion()"
        [disabled]="!createMotionForm.valid"
      >
        Create motion
      </button>
    </div>
  </form>
  <h4>last call time until user can bid</h4>

  <h3>Date: {{ selectedDate | date: "HH:mm dd/LLL/yyyy" }}</h3>
</div>
