.container {
  width: 80%;
  display: flex;
  flex-direction: column;
}

.container-super {
  display: flex;
  justify-content: center;
}

.error-field {
  color: red;
  font-weight: 800;
}

mat-form-field {
  width: 100%;
}

.field-container {
  margin-bottom: 0.8em;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}
